/*************************************/
/* ANIMAZIONE SMILES */
/*************************************/
@keyframes rotation {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(30deg);
    }
    50%{
        trasnform: rotate(-30deg);
    }
    75%{
        transform: rotate(-30deg);
    }
    100%{
        transform: rotate(0);
    }
}
/*************************************/
/* SIMULAZIONE CONVERSAZIONE */
/*************************************/
@keyframes speaker-1 {
    0%{
        border: solid #4bc800;
    }
    25%{
        border: solid #4bc800;
    }
    50%{
        border: solid black;
    }
    75%{
        border: solid black;
    }
    100%{
        border: solid black;
    }
}
@keyframes speaker-2 {
    0%{
        border: solid black;
    }
    25%{
        border: solid black;
    }
    50%{
        border: solid #4bc800;
    }
    75%{
        border: solid black;
    }
    100%{
        border: solid black;
    }
}
@keyframes speaker-3 {
    0%{
        border: solid black;
    }
    25%{
        border: solid black;
    }
    50%{
        border: solid black;
    }
    75%{
        border: solid #4bc800;
    }
    100%{
        border: solid #4bc800;
    }
}
.speaker-1{
    animation: speaker-1 infinite 10s;
}
.speaker-2{
    animation: speaker-2 infinite 10s;
}
.speaker-3{
    animation: speaker-3 infinite 10s;
}
/*************************************/
/* GLOBAL RESET */
/*************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    /*essendo una webapplication ho assegnato un 100vh al body
      e ho asseggnato le altezze dei figli con il flex-grow*/
    height: 100vh;
    flex-direction: column;
    font-family: sans-serif;
}
h1{
    font-size: 24px;
    font-weight: normal;
}
/*************************************/
/* UTILITY CLASSES */
/*************************************/
.yellow-background-1{
    background-image: url('../images/yellow-background-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.yellow-background-2{
    background-image: url('../images/yellow-background-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.yellow-background-3{
    background-image: url('../images/yellow-background-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.yellow-background-4{
    background-image: url('../images/yellow-background-4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.yellow-background-5{
    background-image: url('../images/yellow-background-5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.yellow-background-6{
    background-image: url('../images/yellow-background-6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.yellow-background-7{
    background-image: url('../images/yellow-background-7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.green{
    color: #4bc800;
}

/*************************************/
/* FONT-AWESOME */
/*************************************/

.fa-user-friends{
    position: relative;
}
.fa-user-friends:after{
    content:"28";
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
}
.fa-record-vinyl{
    position: relative;
}
.fa-chevron-up{
    margin-left: -40px;
}

/*************************************/
/* BUTTONS */
/*************************************/

.end-meeting{
    background-color: #464749;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    width: 10%;
    color: #e9554a;
    font-size: 24px;
    font-weight: bold;
    border: solid transparent;
}
.end-meeting:hover{
    background-color: lightgray;
    color: black;
}
.top-right-button-container{
    position: absolute;
    top: 15px;
    right: 20px;
}
.top-right-button-container button{
    padding: 5px;
    background-color: #3b3b3b;
    color: white;
    border-radius: 5px;
    border: solid transparent;
    z-index: 99;
}
.top-right-button-container button:hover{
    background-color: lightgray;
    color: black
}

/*************************************/
/* SPECIFIC SELECTORS */
/*************************************/

/*************************************/
/* HEADER */
/*************************************/
header{
    background-color: lightgray;
    text-align: center;
    padding: 10px 0;
}
header span{
    display: inline-block;
    width: 200px;
    height: 26px;
    border: solid white 5px;
    background-color: grey;
    margin-left: 5px;
    vertical-align: sub;
}

/*************************************/
/* MAIN */
/*************************************/

main{
    background-color: black;
    padding: 50px 200px;
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*************************************/
/* SINGLE USER WINDOW */
/*************************************/
main div.user-window{
    width: calc(100%/5);
    border: solid black;
    background-color: white;    
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    ASSEGNANDO DIMENSIONI STATICHE ALLA CLASSE USER-WINDOW
    LE COLONNE SI ADATTERANNO E ANDRANNO A CAPO IN BASE
    ALLA DIMENSIONE DELLO SCHERMO
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/* rotating smiles images */ 
div.user-window img{
    object-fit: contain;
    width: 50%;
    animation: rotation infinite 2s linear;
}
/* user-window status bar */
div.user-window .img-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 20px;
    padding: 5px;
}
div.user-window .img-overlay i{
    color: red;
}
/*************************************/
/* ABSOLUTE GO-LEFT & GO RIGHT BUTTONS */
/*************************************/
div[class^="go-"]{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5%;
    color: white;
    font-weight: bold;
    z-index: 99;
}
div[class^="go-"] i{
    font-size: 100px;
    width: 100%;
    transition: 1s;
}
div[class^="go-"] i:hover{
    color: #2ebaff;
}
div.go-left{
    left: 0;
    text-align: right;
}
div.go-right{
    right: 0;
    text-align: left;
}

/*************************************/
/* FOOTER */
/*************************************/

footer{
    width: 100%;
    background-color: #212324;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    position: relative;
    /*per evitare che gli elementi si sovrappongano
      restringendo la viewport*/
    flex-wrap: wrap-reverse;
}
footer div i{
    display: block;
    font-size: 32px;
}
footer div i.fa-chevron-up{
    font-size: 24px;
}
footer ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dcdcdc
}
footer ul li{
    display: flex;
    color: #dcdcdc;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 30px;
}
footer ul li:hover{
    color: #4bc800;
}
